<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarouselByUIScrollViewPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F329EFE31E666C6B00281B79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F329EFF71E666C6B00281B79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F329F0021E666C6B00281B79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
